html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.c10 {
    clear: both;
    height: 10px;
}
h3 {
    font-size: 60px;
    margin: 0;
    padding-bottom: 20px;
    color: #528B8B;
}
.container {
    position: relative;
    display: block;
    top: 10%;
    width: 980px;
    height:300px;
    margin: auto;
}
.login-form {
    display: block;
    height: 100px;
    width: 100%;
    background: #fff;
    z-index: 999;
    position: absolute;
    text-align: center;
    padding-top: 200px;
}
a {
    float: right;
    margin-top: -50px;
}
.btn{
    width: 300px;
    height: 30px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background: rgb(19, 10, 83);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px
}
.btn:hover{
    background: rgb(33, 20, 134);
}
#send {
    border: 1px solid rgb(107, 155, 238);
    background:  rgb(107, 155, 238);
    color: #fff;
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
}
.image {
    display: block;
    height: 300px;
    width: 100%;
    z-index: 999;
    position: absolute;
}
.result {
    position: relative;
    display: block;
    width: 980px;
    background: rgb(220, 223, 244);
    height:300px;
    margin: auto;
}
.show {
    display: block;
    width: 35%;
    height: 100%;
    float: left;
    background: #fff;
}
.list {
    display: block;
    width: 50%;
    height: 100%;
    float: right;
}
.form input[type="file"] {
    z-index: 99;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opcity=0)";
    cursor: pointer;
    _cursor:hand;
    margin: 0;
    padding: 0;
    left: 0;

  }
  .add-photo-btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    background: green;
    color: white;
    display: block;
    width: 20%;
    height: 41px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 10px;
    float: left
  }
  input[type="text"] {
    float: left;
    height: 51px;
    padding: 10px;
    width: 80%
  }
